.root {
    -fx-background-color: #8fbc8f;
}

/* Estilos de la cabecera y sus elementos */
#cabecera{
    -fx-background-color: #336699;
    -fx-padding: 15 12 15 12;
    -fx-spacing: 10;
    -fx-pref-height: 60;
}

#cabecera .my-stack{
    -fx-alignment: center-right;
}

#cabecera .my-stack Text{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

#cabecera .my-stack Rectangle{
    -fx-fill: #b0c6d9;
}

/* Estilo de la secci�n izquierda y sus elementos */
#izquierda{
    -fx-border-color: #2e8b57, red;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-border-insets: 8 8 0 8, 12 12 4 12;

    /* Imagen de fondo centrada horizontalmente  */
    -fx-background-image: url("../images/arrow_t_up_right.png");
    -fx-background-size: 100;
    -fx-background-position: center top;
    -fx-background-repeat: no-repeat;
}

#izquierda Text{
    -fx-font: Bold 14px "Arial";
}

#izquierda Hyperlink:visited{
    -fx-text-fill: green;
}

#izquierda Hyperlink{
    -fx-text-fill: red;
}

#izquierda .tree-cell:expanded{
    -fx-font-weight: bold;
}

#izquierda .tree-cell:collapsed{
    -fx-font-style: italic;
}

/* Estilos de la secci�n central */
.grid-central {
    -fx-background-color: lightblue;
    -fx-background-radius: 10;
    -fx-background-insets: 8 8 0 0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.grid-central .list-cell:even:selected { /* Filas pares del ListView */
    -fx-background-color: blue;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}

.grid-central .list-cell:odd:selected { /* Filas impares del ListView */
    -fx-background-color: red;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}

.grid-central RadioButton:selected, .grid-central CheckBox:selected{
    -fx-border-width: 3px;
    -fx-border-color: red;
}

.grid-central .location{ /* Para alinear ChoiceBox y ComboBox */
    -fx-alignment: center;
}

/* Acorde�n con im�genes a la derecha. Ahora ser�n im�genes de fondo */

#derecha{
    -fx-border-color: transparent;
    -fx-border-insets: 8 0 0 0;
    -fx-padding: 0 10 0 0;
}

#derecha Accordion{
    -fx-pref-height: 200;
}

#derecha TitledPane{
    -fx-collapsible: true;
    -fx-animated: true;
}

/* Estilos cuando los TitledPane del Accordion est�n visibles */
#derecha TitledPane:expanded {
    -fx-font-style: italic;
}

#derecha TitledPane:expanded AnchorPane{
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-rotate: 30deg;
}

/* Im�genes de fondo diferentes por cada AnchorPane de los TitledPane
 * Cada TitledPane tiene un ID asociado al n�mero de imagen (image1, image2, etc.)
 */
#derecha #image1:expanded AnchorPane{
    -fx-background-image: url("../images/1.jpg");
}

#derecha #image2:expanded AnchorPane{
    -fx-background-image: url("../images/2.jpg");
}

#derecha #image3:expanded AnchorPane{
    -fx-background-image: url("../images/3.jpg");
}

#derecha #image4:expanded AnchorPane{
    -fx-background-image: url("../images/4.jpg");
}

/* Degradado en el fondo del pie de p�gina */
#pie{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #32cd32);
    -fx-background-insets: 5 0 0 0;
}

/* �tems del pie de p�gina */
.flow-pie Slider{
    -fx-show-tick-labels: true;
    -fx-show-tick-marks: true;
    -fx-major-tick-unit: 2;
    -fx-minor-tick-count: 1;
    -fx-block-increment: 1;
}