.flow-pane {
    -fx-background-color: #a8a5a5;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #fcfcfc, #e3e3e3);
    -fx-background-radius: 3px;
    -fx-border-color: #bcbcbc;
    -fx-border-radius: 3px;
    -fx-text-fill: #333333;
    -fx-padding: 5px 12px;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #eaeaea);
}

#btn1 {
    -fx-border-color: #5da1d8;
    -fx-border-width: 2px;

    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #e6e6e6);

    -fx-padding: 25px 40px;

    -fx-font-size: 13px;

    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

#btn2 {

    -fx-background-color: grey;

    -fx-background-radius: 0;
    -fx-border-radius: 0;

    -fx-border-color: transparent;

    -fx-text-fill: #333333;

    -fx-padding: 4px 10px;
}